NODE_ENV=development
PORT=3000
API_PREFIX=/api/v1

SWAGGER_ROUTE=/docs
SWAGGER_TITLE=Template Node Server API
SWAGGER_VERSION=1.0.0
SWAGGER_DESCRIPTION=Express TypeScript API template

DATABASE_URL=postgres://postgres:postgres@localhost:5432/template_node_server
